@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    /* Cores */
    --primary-color: #1a1a1a;
    --secondary-color: #ffffff;
    /* Font-family Inter */
    --inter-h1: 2.75rem;
    --inter-h2: 2rem;
    --inter-h3: 1.625rem;
    --inter-body: 1.25rem;
    /* Font-family Libre */
    --libre-baskerville: "Libre Baskerville", serif;
    --libre-h1: 2.5rem;
    --libre-h2: 1.5rem;
    --libre-h3: 1.375rem;
    --libre-body: 1.125rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary-color);
    font-family: var(--libre-baskerville);
    color: var(--secondary-color);
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}


.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    gap: 20px;
    text-transform: uppercase;
}

.menu li:first-child {
    margin-right: auto;
    font-size: var(--libre-h1);
    font-weight: 700;
    text-transform: none;
}

.projeto {
    margin-top: 80px;
}

.projeto p {
    padding: 20px 0px 20px 0px;
}

.projeto img {
    width: 100%;
    padding: 20px 0px 20px 0px;
}