@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #1a1a1a;
    font-family: 'Libre-Baskerville', serif;
    color: #ffffff;
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}


.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    gap: 20px;
}

.menu li:first-child {
    margin-right: auto;
    font-size: 2.5rem;
}

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 60px;
}

.imgProfile {
    width: 435px;
    grid-column: 1;
    grid-row: 1/3;
}

.about h2 {
    font-size: 2.5rem;
    grid-column: 2;
    align-self: end;
}

.about p {
    grid-column: 2;
    font-size: 1.25rem;
}

.projects {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 90px;
}

.projects h2 {
    font-size: 40px;
}

.image-container {
    position: relative;
    width: 100%;
    margin-top: 30px;
}

.projectbg {
    max-width: 1160px;
    display: block;
}

.image-container h2,
.image-container p {
    position: absolute;
    margin: 0;
    padding: 10px;
}

.image-container h2 {
    top: 180px;
    left: 30px;
}

.image-container p {
    bottom: 30px;
    left: 30px;
}

footer {
    margin-top: 90px;
    margin-bottom: 60px;
}

.footer {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.footer li:last-child {
    margin-left: auto;
}