@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    /* Cores */
    --primary-color: #1a1a1a;
    --secondary-color: #ffffff;
    /* Font-family Inter */
    --inter-h1: 2.75rem;
    --inter-h2: 2rem;
    --inter-h3: 1.625rem;
    --inter-body: 1.25rem;
    /* Font-family Libre */
    --libre-baskerville: "Libre Baskerville", serif;
    --libre-h1: 2.5rem;
    --libre-h2: 1.5rem;
    --libre-h3: 1.375rem;
    --libre-body: 1.125rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary-color);
    font-family: var(--libre-baskerville);
    color: var(--secondary-color);
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}


.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    gap: 20px;
    text-transform: uppercase;
}

.menu li:first-child {
    margin-right: auto;
    font-size: var(--libre-h1);
    font-weight: 700;
    text-transform: none;
}

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 60px;
}

.imgProfile {
    width: 435px;
    grid-column: 1;
    grid-row: 1/3;
}

.about h2 {
    font-size: var(--libre-h1);
    grid-column: 2;
    align-self: end;
}

.about p {
    grid-column: 2;
    font-size: var(--libre-body);
    padding-top: 20px;
}

.projects {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 90px;
}

.projects h2 {
    font-size: var(--libre-h1);
}

.image-container {
    position: relative;
    width: 100%;
    margin-top: 30px;
}

.projectbg {
    max-width: 1160px;
    display: block;
}

.image-container h2,
.image-container p {
    position: absolute;
    margin: 0;
    padding: 10px;
}

.image-container h2 {
    top: 180px;
    left: 30px;
}

.image-container p {
    bottom: 30px;
    left: 30px;
}

footer {
    margin-top: 90px;
    margin-bottom: 60px;
}

.footer {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.footer li:last-child {
    margin-left: auto;
}